<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Washington Math Organization</title>

    <link rel="stylesheet" href="{{url_for('static', filename='styles/design.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
    <link rel="icon" href="{{url_for('static', filename='assets/favicon.png')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Washington Math Organization" />
    <meta name="description" content="WAMO is a student-run organization that aims to serve the Washington math community by offering high-quality contests and more." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wamomath.org/" />
    <meta property="og:title" content="Washington Math Organization" />
    <meta property="og:description" content="WAMO is a student-run organization that aims to serve the Washington math community by offering high-quality contests and more." />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wamomath.org/" />
    <meta property="twitter:title" content="Washington Math Organization" />
    <meta property="twitter:description" content="WAMO is a student-run organization that aims to serve the Washington math community by offering high-quality contests and more." />


    {% block header %}
    {% endblock header %}
</head>
<body>
    <div id="top_stack">
      <nav id="navigation_box">
        <a id="logo" href="/">
            <div class="left">
                <img src="{{url_for('static', filename='assets/logo.png')}}" alt="WAMO Logo" />
            </div>
            <div class="right">
                <span class="title">WAMO</span>
                <span class="description">Washington Math Organization</span>
            </div>
        </a>
        <div id="navigation_hamburger" tabindex="-1">
            <i class="fa fa-bars"></i>
        </div>
        <div id="navigation_links" tabindex="-1">
            <a href="/#whyus">Why Us</a>
            <a href="/testimonials">Testimonials</a>
            <a href="/team">Meet The Team</a>
            <div id="projects" tabindex="-1">
                <span>Projects <i class="fa fa-angle-down"></i></span>
                <div id="projects_popdown">
                    <a href="/events/wamt">WAMT</a>
                    <a href="/events/wamc2025">2025 WAMC 10/12</a>
                    <a href="/events/wamo3">WAMO 3</a>
                    <a href="/events/wamo2-1">WAMO 2.1</a>
                    <a href="/events/wamc">WAMC 10/12</a>
                    <a href="/events/wamo2">WAMO 2</a>
                    <a href="/events/wamo1">WAMO 1</a>
                </div>
            </div>
        </div>
      </nav>
    </div>

    {% block content %}
    {% endblock content %}

    <footer>
        <div class="left"><span>© 2025 by Washington Math Organization</span><br> Created by Andrew Chen for WAMO</div>
        <div class="right">
            <a href="https://www.instagram.com/wamocommittee/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        style="fill:#000000"
                        d="M256,49.471c67.266,0,75.233.257,101.8,1.469,24.562,1.121,37.9,5.224,46.778,8.674a78.052,78.052,0,0,1,28.966,18.845,78.052,78.052,0,0,1,18.845,28.966c3.45,8.877,7.554,22.[...]"
                    <path
                        style="fill:#000000"
                        d="M256,126.635A129.365,129.365,0,1,0,385.365,256,129.365,129.365,0,0,0,256,126.635Zm0,213.338A83.973,83.973,0,1,1,339.974,256,83.974,83.974,0,0,1,256,339.973Z"/>
                    <circle
                        style="fill:#000000"
                        cx="390.476" cy="121.524" r="30.23"/>
                </svg>
            </a>
            <a href="mailto:wamocommittee@gmail.com" target="_blank">
                <svg width="24" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 [...]"/>
                </svg>
            </a>
        </div>
    </footer>

    <script src="scripts/main.js" defer></script>
</body>
</html>
