{% extends "base.html" %}
{% block content %}

<section id="hero">
    <span class="title">Math for the <span class="highlight">Evergreen&nbsp;State</span></span>
    <span class="description">test.</span>
</section>

<section id="events">
    <h1 id="events_title" class="section_title">Projects</h1>
    <span id="events_description">Erat sociosqu dignissim amet parturient neque. Parturient vivamus iaculis ad duis nunc sed ipsum nisi. At rhoncus morbi mattis; justo ridiculus leo. Odio et nibh molestie efficitur pulvinar lectus parturient. Lacinia morbi senectus rutrum risus vulputate rhoncus dictumst. Ad duis luctus curabitur dictum molestie sem magna eleifend turpis. Tortor mattis vulputate ridiculus augue risus.</span>

    <div id="events_wrapper">
        <a class="event" style="--bg: url(/static/assets/uw.png)" href="events/wamo3">
            <span class="upcoming">Upcoming</span>
            <div>
                <span class="title">WAMO 3</span>
                <span class="description">Date TBA</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/rainier.png)" href="events/wamc">
            <span class="badge"></span>
            <div>
                <span class="title">WAMO 2.1</span>
                <span class="description">January 17th, 2025</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/spaceneedle.png)" href="events/wamc">
            <span class="badge"></span>
            <div>
                <span class="title">2024 WAMC 10/12</span>
                <span class="description">October 21st, 2024 to November 3rd, 2024</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/orca.png)" href="events/wamo2">
            <span class="badge"></span>
            <div>
                <span class="title">WAMO 2</span>
                <span class="description">August 5th, 2024 to August 12th, 2024</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/goldfinch.png)" href="events/wamo1">
            <span class="badge"></span>
            <div>
                <span class="title">Inaugural WAMO</span>
                <span class="description">May 30th, 2024 to June 12th, 2024</span>
            </div>
        </a>
    </div>
</section>

<section id="community">
    <div class="left">
        <iframe src="https://discord.com/widget?id=1241441170769576017&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="right">
        <h1 id="community_title" class="section_title">Join the WAMO Community</h1>
        <span id="community_description">Faucibus phasellus bibendum leo feugiat arcu. Dictumst vestibulum condimentum platea quisque felis ligula consequat primis. Tristique nullam habitasse senectus lacinia eget diam; molestie pretium ullamcorper. </span>
    </div>

</section>

<section id="team">
    <h1 id="team_title" class="section_title">Meet the Team</h1>
    <span id="team_description">We are experienced competitive mathematicians</span>

    <div id="members_wrapper">

        {% for member in [
            {'name': 'Alex Yang', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "Alex is an incoming freshman at Interlake High School in Bellevue, Washington. Outside of math, he enjoys playing chess, reading books, and coding. His favorite area of math is combinatorics, as he feels like it's one of his strongest areas."},
            {'name': 'Laura Wang', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "Laura is an incoming sophomore at Lakeside School. Her favorite math subject is geometry, and she particularly enjoys writing combo problems. When she’s not doing math she likes to draw and ice skate."},
            {'name': 'Ryan Tang', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "cooked"},
            {'name': 'Patrick Sun', 'profile_pic': 'static/pfp/patrick.png', 'title': 'PROBLEM WRITER', 'descrip': "Patrick is an incoming sophomore at Newport High School in Bellevue, Washington. Outside of writing problems for WAMO, Patrick loves feeding his video addiction and playing plenty of tennis. His favorite math subject is number theory and he also enjoys learning more about physics and history."},
            {'name': 'Kaiyuan Mao', 'profile_pic': 'static/assets/kaiyuan.png', 'title': 'PROBLEM WRITER', 'descrip': "cooked"},
            {'name': 'Ryan Chen', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "Skiibidi ts ts ts pmo. Tralallero Tralala icl tung tung tung tung tung tung tung tung tung sahur."},
            {'name': 'Wesley Wu', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "Wesley is an incoming sophomore at Newport High School in Bellevue, Washington State. Outside of mathematics, he enjoys playing tennis competitively and procrastinating. He enjoys most subjects, although he slightly dislikes combinatorics and number theory."},
            {'name': 'Bruce Shu', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "cooked"},
            {'name': 'James Yang', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "James is currently an eighth-grade student at Lakeside Middle School. In addition to participating in math competitions, he enjoys spending his free time at the zoo, watching movies with friends, and practicing soccer. His favorite area of mathematics is calculus, and he takes particular interest in problem writing, as it allows him to express his creativity."},
        ] %}

        <div class="member">
            <div class="headshot">
                <img src="{{ member.profile_pic }}" />
            </div>
            <div>
                <div class="title">{{ member.name }}</div>
                <div class="role">{{ member.title }}</div>
            </div>
            <div class="description">
                {{ member.descrip }}
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endblock %}
