{% extends "base.html" %}
{% block content %}

<section id="hero">
    <span class="title">Math for the <span class="highlight">Evergreen&nbsp;State</span></span>
    <span class="description">WAMO: Uniting Washington’s math minds through challenge, community, and creativity.</span>
</section>

<section id="events">
    <h1 id="events_title" class="section_title">Projects</h1>
    <span id="events_description">WAMO contests are designed to challenge and inspire math students. From creative problem-solving to rigorous proofs, each competition offers a unique opportunity for students to test their skills and deepen their love for mathematics. Whether you're new to contests or a seasoned competitor, WAMO events foster a supportive community and a spirit of curiosity.</span>

    <div id="events_wrapper">
        <a class="event" style="--bg: url(/static/assets/uw.png)" href="events/wamo3">
            <span class="upcoming">Upcoming</span>
            <div>
                <span class="title">WAMO 3</span>
                <span class="description">April 12th, 2025 to April 26th, 2025</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/rainier.png)" href="events/wamo2-1">
            <span class="badge"></span>
            <div>
                <span class="title">WAMO 2.1</span>
                <span class="description">January 17th, 2025</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/spaceneedle.png)" href="events/wamc">
            <span class="badge"></span>
            <div>
                <span class="title">2024 WAMC 10/12</span>
                <span class="description">October 21st, 2024 to November 3rd, 2024</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/orca.png)" href="events/wamo2">
            <span class="badge"></span>
            <div>
                <span class="title">WAMO 2</span>
                <span class="description">August 5th, 2024 to August 12th, 2024</span>
            </div>
        </a>
        <a class="event" style="--bg: url(/static/assets/goldfinch.png)" href="events/wamo1">
            <span class="badge"></span>
            <div>
                <span class="title">WAMO 1</span>
                <span class="description">May 30th, 2024 to June 12th, 2024</span>
            </div>
        </a>
    </div>
</section>

<section id="community">
    <div class="left">
        <iframe src="https://discord.com/widget?id=1241441170769576017&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="right">
        <h1 id="community_title" class="section_title">Join the WAMO Community</h1>
        <span id="community_description">Join the WAMO Discord server to connect with a vibrant community of like-minded individuals, engage in lively discussions, and stay up-to-date on all things WAMO. It's the perfect place to share your thoughts, make new friends, and be part of the WAMO experience!</span>
    </div>

</section>

<section id="whyus">
    <h1 id="whyus_title" class="section_title">Why WAMO?</h1>
    <blockquote>
        <div class="quote">
            "Without mathematics there is no art."
        </div>
        <div class="bottom">
            - Luca Pacioli
        </div>
    </blockquote>
    
    <div class="why-points">
        <div class="point">
            <h3>Our Vision</h3>
            <ul>
                <li>At WAMO, we believe mathematics transcends mere numbers—it's a journey of deep thinking, problem-solving, and shaping tomorrow. We're building a vibrant community where Washington students can discover, challenge, and elevate their mathematical abilities.</li>
            </ul>
        </div>
        
        <div class="point">
            <h3>What Sets Us Apart</h3>
            <ul>
                <li>Dedicated to making mathematics accessible and engaging for all skill levels</li>
                <li>Structured learning through contests, potential classes, and interactive activities</li>
                <li>Focus on building both confidence and competence in young mathematicians</li>
            </ul>
        </div>
        
        <div class="point">
            <h3>Our Expertise</h3>
            <ul>
                <li>Team of accomplished students with extensive competition experience (JMO, AMO)</li>
                <li>Problem-writing experience for various competitions (JMPSC, MM, and more)</li>
                <li>Experienced mentors providing high-quality problems and guidance</li>
            </ul>
        </div>
    </div>
    <h2 class="section_subtitle">Let the numbers speak for themselves...</h2>
    <div id="achiev_wrapper">
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-trophy"></i></div>
            <div class="number">10+</div>
            <div class="desc">USA(J)MO Qualifications</div>
        </div>
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-medal"></i></div>
            <div class="number">25+</div>
            <div class="desc">AMC 10 DHRs</div>
        </div>
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-award"></i></div>
            <div class="number">32+</div>
            <div class="desc">AIME Qualifications</div>
        </div>
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-users"></i></div>
            <div class="number">1000+</div>
            <div class="desc">Past Participants</div>
        </div>
    </div>
</section>

<section id="team">
    <h1 id="team_title" class="section_title">Meet the Team</h1>
    <span id="team_description">We are experienced competitive mathematicians who have scored well in contests ranging from MATHCOUNTS to the USAMO. Our team is comprised of multiple MATHCOUNTS National qualifiers, AMC 8 and AMC 10 perfect scorers, AIME top scorers, and USA(J)MO participants.</span>

    <div id="members_wrapper">

        {% for member in [
            {'name': 'Alex Yang', 'profile_pic': 'static/pfps/alexpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Alex is an rising freshman at Interlake High School. Outside of math, he enjoys playing chess, reading books, and coding. His favorite area of math is combinatorics, as he feels like it's one of his strongest areas."},
            {'name': 'Laura Wang', 'profile_pic': 'static/pfps/laurapfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Laura is an rising sophomore at Lakeside School. Her favorite math subject is geometry, and she particularly enjoys writing combo problems. When she’s not doing math she likes to draw and ice skate."},
            {'name': 'Ryan Tang', 'profile_pic': 'static/pfps/ryantpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Ryan is a rising junior at Newport High School. His favorite math subject is anything but geometry. Outside of math, Ryan also enjoys programming."},
            {'name': 'Patrick Sun', 'profile_pic': 'static/pfps/patrick.png', 'title': 'PROBLEM WRITER', 'descrip': "Patrick is an rising sophomore at Newport High School. Outside of writing problems for WAMO, Patrick loves feeding his video game addiction and playing plenty of tennis. His favorite math subject is number theory and he also enjoys learning more about history and preparing for physics olympiads."},
            {'name': 'Kaiyuan Mao', 'profile_pic': 'static/pfps/kaiyuanpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Kaiyuan is an rising freshman at Interlake High School. Outside over participating and organizing math competitions, he likes to grind coding and play soccer and badminton. His favorite math subject is geometry."},
            {'name': 'Ryan Chen', 'profile_pic': 'static/pfps/ryancpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Skiibidi ts ts ts pmo. Tralallero Tralala icl tung tung tung tung tung tung tung tung tung sahur."},
            {'name': 'Wesley Wu', 'profile_pic': 'static/pfps/wesleypfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Wesley is an rising sophomore at Newport High School. Outside of mathematics, he enjoys playing tennis competitively and procrastinating. He enjoys most subjects, although he slightly dislikes combinatorics and number theory."},
            {'name': 'Bruce Shu', 'profile_pic': 'static/assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "Bruce is an rising freshman in Texas. Outside of math, he enjoys playing tennis. His favorite math subject is number theory."},
            {'name': 'James Yang', 'profile_pic': 'static/pfps/jamespfp.png', 'title': 'PROBLEM WRITER', 'descrip': "James is an rising freshman at Lakeside School. In addition to participating in math competitions, he enjoys spending his free time at the zoo, watching movies with friends, and practicing soccer. His favorite area of mathematics is calculus, and he takes particular interest in problem writing, as it allows him to express his creativity."},
        ] %}

        <div class="member">
            <div class="headshot">
                <img src="{{ member.profile_pic }}" />
            </div>
            <div>
                <div class="title">{{ member.name }}</div>
                <div class="role">{{ member.title }}</div>
            </div>
            <div class="description">
                {{ member.descrip }}
            </div>
        </div>

        {% endfor %}
    </div>
</section>

{% endblock %}
