{% extends "base.html" %}


{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/team.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='styles/events.css')}}">
{% endblock %}

{% block content %}
<section id="hero">
    <div class="left">
        <span class="title">The WAMO Team</span>
        <span class="description">We are experienced competitive math enthusiasts who have scored well in contests ranging from MATHCOUNTS to the USAMO. Our team is comprised of multiple MATHCOUNTS National qualifiers, AMC 8 and AMC 10 perfect scorers, AIME top scorers, and USA(J)MO participants.</span>
    </div>
    <div class="right">
        <img src="{{url_for('static', filename='assets/logo.png')}}" />
    </div>
</section>

<section id="team">

    <div id="members_wrapper">

        {% for member in [
            {'name': 'Patrick Sun', 'profile_pic': 'pfps/patrick.png', 'title': 'PRESIDENT', 'descrip': "Patrick is a sophomore at Newport High School. Outside of writing problems for WAMO, Patrick loves feeding his video game addiction and playing plenty of tennis. His favorite math subject is number theory and he also enjoys learning more about history and preparing for physics olympiads."},
            {'name': 'Wesley Wu', 'profile_pic': 'pfps/wesleypfp.png', 'title': 'VICE PRESIDENT', 'descrip': "Wesley is a sophomore at Newport High School. Outside of mathematics, he enjoys playing tennis competitively and procrastinating. He enjoys most subjects, although he slightly dislikes combinatorics and number theory."},
            {'name': 'Ryan Tang', 'profile_pic': 'pfps/ryantpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Ryan is a junior at Newport High School. His favorite math subject is anything but geometry. Outside of math, Ryan also enjoys programming."},
            {'name': 'Kaiyuan Mao', 'profile_pic': 'pfps/kaiyuanpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Kaiyuan is a freshman at Interlake High School. Outside over participating and organizing math competitions, he likes to grind coding and play soccer and badminton. His favorite math subject is geometry."},
            {'name': 'James Yang', 'profile_pic': 'pfps/jamespfp.png', 'title': 'PROBLEM WRITER', 'descrip': "James is a freshman at Lakeside School. In addition to participating in math competitions, he enjoys spending his free time at the zoo, watching movies with friends, and practicing soccer. His favorite area of mathematics is calculus, and he takes particular interest in problem writing, as it allows him to express his creativity."},
            {'name': 'Alex Yang', 'profile_pic': 'pfps/alexpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Alex is a freshman at Interlake High School. Outside of math, he enjoys playing chess, reading books, and coding. His favorite area of math is combinatorics, as he feels like it's one of his strongest areas."},
            {'name': 'Bruce Shu', 'profile_pic': 'assets/default.png', 'title': 'PROBLEM WRITER', 'descrip': "Bruce is a freshman in Texas. Outside of math, he enjoys playing tennis. His favorite math subject is number theory."},
            {'name': 'Laura Wang', 'profile_pic': 'pfps/laurapfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Laura is a sophomore at Lakeside School. Her favorite math subject is geometry, and she particularly enjoys writing combo problems. When she’s not doing math she likes to draw and ice skate."},
            {'name': 'Ryan Chen', 'profile_pic': 'pfps/ryancpfp.png', 'title': 'PROBLEM WRITER', 'descrip': "Ryan is a sophomore at Eastlake High School with a particular interest in combinatorics. Beyond his passion for mathematics, he enjoys playing Valorant."},
        ] %}

        <div class="member">
            <div class="headshot">
                <img src="{{ url_for('static', filename=member.profile_pic) }}" />
            </div>
            <div>
                <div class="title">{{ member.name }}</div>
                <div class="role">{{ member.title }}</div>
            </div>
            <div class="description">
                {{ member.descrip }}
            </div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock content %}
