{% extends "base.html" %}


{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/events.css')}}">
{% endblock %}

{% block content %}
<section id="hero">
    <div class="left">
        <span class="title">Why Us?</span>
        <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
    </div>
    <div class="right">
        <img src="{{url_for('static', filename='assets/logo.png')}}" />
    </div>
</section>

<section id="whyus" class="info">
    At WAMO, we believe that math is not numbers alone—it's rich depth of thought, problem-solving, and creating a better future. We are dedicated to establishing a community where students from across the US can discover, challenge, and enhance their math skills.
What sets WAMO apart is our unwavering commitment to accessibility, excellence, and inspiration. Whether you're a novice discovering a love of math or a high-achieving student in search of stimulating competition, WAMO offers something at all levels. Through enjoyable contests, classes(potentially), and activities, we aim to instill curiosity and confidence in young mathematicians.
We are composed of the best students with excellent math backgrounds, having learned math thoroughly and participated in very competitive math olympiads like JMO and AMO. However that's not all, several members also have direct experience writing for other competitions like JMPSC, MM, and countless others. Being so highly experienced, they provide unparalleled quality of problems and mentorship. Every member is dedicated to releasing students' true mathematical potential through problems and friendly competitions. 
WAMO is an organization that brings together peers with the same passion, an organization where peers can learn from mentor experts. It's a place where people can become part of something that will see the beauty and power of math.
</section>

{% endblock content %}
