{% extends "base.html" %}


{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/events.css')}}">
{% endblock %}

{% block content %}
<section id="hero">
    <div class="left">
        <span class="title">Why Support the<br><span class="highlight">Washington Math Olympiad?</span></span>
        <span class="description">Train your mathematical instinct through high-quality, educational learning contests crafted by some of Washington's brightest minds.</span>
    </div>
    <div class="right">
        <img src="{{url_for('static', filename='assets/logo.png')}}" />
    </div>
</section>

<section id="whyus" class="info">
    <blockquote>
        <div class="quote">
            "Mathematics is the music of reason. To do mathematics is to engage in an act of discovery and conjecture, intuition and inspiration; to be in a state of confusion"
        </div>
        <div class="bottom">
            - Paul Lockhart
        </div>
    </blockquote>
    At WAMO, we believe that math is not numbers alone—it's rich depth of thought, problem-solving, and creating a better future. We are dedicated to establishing a community where students from across the US can discover, challenge, and enhance their math skills.
What sets WAMO apart is our unwavering commitment to accessibility, excellence, and inspiration. Whether you're a novice discovering a love of math or a high-achieving student in search of stimulating competition, WAMO offers something at all levels. Through enjoyable contests, classes(potentially), and activities, we aim to instill curiosity and confidence in young mathematicians.
We are composed of the best students with excellent math backgrounds, having learned math thoroughly and participated in very competitive math olympiads like JMO and AMO. However that's not all, several members also have direct experience writing for other competitions like JMPSC, MM, and countless others. Being so highly experienced, they provide unparalleled quality of problems and mentorship. Every member is dedicated to releasing students' true mathematical potential through problems and friendly competitions. 
WAMO is an organization that brings together peers with the same passion, an organization where peers can learn from mentor experts. It's a place where people can become part of something that will see the beauty and power of math.
</section>

<section id="accomplishedteam" class="info">
    <h1 class="section_title">Let the numbers speak for themselves...</h1>
    <div id="achiev_wrapper">
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-award"></i></div>
            <div class="number">10</div>
            <div class="desc">JMO Qualifications</div>
        </div>
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-users"></i></div>
            <div class="number">25+</div>
            <div class="desc">AMC 10 DHRs</div>
        </div>
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-medal"></i></div>
            <div class="number">1000+</div>
            <div class="desc">Past Participants</div>
        </div>
        <div class="achiev">
            <div class="icon"><i class="fa-solid fa-trophy"></i></div>
            <div class="number">209</div>
            <div class="desc">Award Text</div>
        </div>
    </div>
</section>
{% endblock content %}
