/* Hero Banner */
section#hero{
    min-height: 400px;
    height: fit-content;
    width: 100%;

    background: #111827;

    display: flex;
    flex-direction: row;
    row-gap: 10px;

    padding: 0 var(--padding);
    align-items: center;
    flex-wrap: wrap
}

#hero .left{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1;
}

#hero .right img{
    width: 300px;
}

:root{
    --nav-background: #111827 !important;
}

.info{
    padding: 30px var(--padding);
}

.info .title{
    font-size: 32px;
    font-weight: 700;
    margin: 5px 0;
}

.info .left{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.info .description{
    font-size: 16px;
}

#content{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: nowrap;
}

#problems, #solutions{
    flex-basis: 100%;
    min-width: 300px;
}

/* Best solution I can find */
@media (max-width: 750px){
    #content{
        flex-wrap: wrap;
    }
}

.document{
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.document .name{
    background: lightgray;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: opacity 0.2s;
    user-select: none;
    color: black;
}

.document .name:hover{
    opacity: 0.8;
}

.document.open .name{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.document .content{
    padding: 20px;
    background: #1e293b;
    display: none;
}

.document.open .content{
    display: block;
}

.document embed{
    width: 100%;
    height: 1200px;
}

.herobutton{
    font-size: 18px;
    padding: 20px;
    border-radius: 4px;
    border: none;
    background: #374151;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    transition: opacity 0.2s ease-in;
    margin-right: 10px;
}

.herobutton:hover{
    opacity: 0.7;
}

@media (max-width: 900px){
    #hero .right{
        display: none;
    }

    #hero .left{
        text-align: center;
    }

    #hero .title, #hero .description{
        width: 80%;
        margin: auto;
    }

    #hero #buttons{
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    #hero{
        padding: 75px 25px !important;
    }

    #hero .right{
        display: none;
    }

    #hero .left{
        text-align: left;
    }

    #hero .title, #hero .description{
        width: 100%;
    }

    #hero #buttons{
        margin-top: 20px;
    }
}