@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --width: 1200px;
    --padding: calc(50vw - var(--width) / 2);

    --nav-background: #1D1E18;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
}

/* Navigation Box */
nav#navigation_box{
    width: 100%;
    background: var(--nav-background);
    padding: 10px var(--padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

#logo .left, #logo .left img{
    width: 50px;
    height: 50px;
}

#logo .right{
    color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

#logo .right .title{
    font-weight: 900;
    font-size: 22px;
    line-height: 22px;
}

#logo .right .description{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

#navigation_links{
    display: flex;
    column-gap: 28px;
}

#navigation_links a{
    font-size: 16px;
    color: #F8F8F8;
    text-decoration: none;
    font-weight: 400;
}

/* Hero Banner */
section#hero{
    height: 400px;
    width: 100%;

    background-image: url("../assets/trees-faded.png"), linear-gradient(180deg, rgba(1,10,0,1) 0%, rgb(6, 35, 0) 100%);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: bottom right;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 0 var(--padding);
    justify-content: center;
}

#hero .title{
    color: #FFF;
    font-weight: 900;
    font-size: 40px;
    width: calc(0.62 * var(--width));
}

#hero .description{
    color: #FFF;
    font-weight: 100;
    font-size: 22px;
    width: calc(0.62 * var(--width));
}

#hero .highlight{
    color: #279A23;
}

/* Meet the Team */

#team{
    padding: 60px var(--padding);
}

#team_title, #events_title{
    font-size: 32px;
    font-weight: 700;
    margin: 5px 0;
}

#team_description{
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
}

#events_description{
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
}

#members_wrapper{
    display: flex;
    row-gap: 24px;
    column-gap: 24px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.member{
    background: #EFEDE7;
    padding: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 375px;
    min-width: 300px;
    flex: 1;
}

.member .role{
    font-size: 18px;
    font-weight: 200;
}

.member .title{
    font-weight: 600;
    font-size: 27px;
}

.member .description{
    font-size: 16px;
}

/* Footer */
footer{
    background: var(--nav-background);
    padding: 20px var(--padding);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .left{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
}

#footer_email{
    stroke: #FFFFFF;
}

#events{
    padding: 60px var(--padding);
}

#events_wrapper{
    margin: 20px 0;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.event{
    width: 400px;
    flex: 1;
    min-width: 375px;
    height: 220px;
    background: var(--bg);
    background-size: 100%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-end;
}

.event .title{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.event .description{
    font-size: 14px;
    font-weight: 200;
    color: white;
}


@media only screen and (max-width: 1250px){
    :root{
        --width: calc(100vw - 50px);
    }
}

@media only screen and (max-width: 700px){
    #hero .title{
        width: calc(1 * var(--width));
    }

    #hero .description{
        width: calc(1 * var(--width));
    }
}